/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.pac-green-sh {
  color: #22aa66;
  font-size: .9em;
  font-style: italic;
}


h1.pac-front-title {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: black;
}

#block-node-syndicate {
  padding-top: 18px;
  text-align: center;
}

.review-table {
  padding-top: 9px;
}

.review-header {
  padding-top: 18px;
  text-align: left;
}

.review-byline {
  font-weight: bold;
  font-size: 1.2em;
}

.review-title {
  font-weight: bold;
  font-size: 1.2em;
  line-height: .8em;
}

.review-title a {
  color: black;
}

.review-img-cell {
  vertical-align: top;
}

.review-summary-cell {
  vertical-align: top;
  text-align: left;
  font-size: .9em;
}

.featured-book {
  border-bottom: 2px solid #22aa66;
  text-align: center;
}

.glyph-well {
  padding-left: 0px;
  padding-right: 0px;
}

.xs-header-well {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.xs-title-well {
  width: 100%;
  height: 100px;
  text-align: left;
  vertical-align: middle;
  padding: 8px;
  border-width: 0px;
}

.xs-title-well h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  color: black;
}

.sm-header-well {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.sm-title-well {
  width: 100%;
  height: 150px;
  text-align: left;
  vertical-align: middle;
  padding: 12px;
  border-width: 0px;
}

.sm-title-well h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  color: black;
}

.sm-title-well h1 .sh {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: .85em;
  color: #22aa66;
}

.md-header-well {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.md-title-well {
  width: 100%;
  height: 200px;
  text-align: left;
  vertical-align: middle;
  padding: 24px;
  border-style: solid;
  border-color: #22aa66;
  border-width: 0px;
  border-radius: 9px;
}

.md-title-well h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em;
  color: black;
}

.tlogo {
  text-align: left;
  width: 210px;
  padding: 0px 10px 0px 0px;
}

.ttable {
  border-spacing: 0px;
}

#first-time {
  display: none;
}

.dropdown-menu>li {
  text-align: right;
  border-bottom: 2px;
}

.page-header {
  border-bottom: 0px;
}

@media (min-width: 768px) {
  .container-fluid {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 18px;
  }
}

.btn-default a,
.btn-default a.link,
.btn-default a.visited,
.btn-default a.active {
  color: #000000;
  text-decoration: none;
}

table {
  border-collapse: separate;
  border-spacing: 18px;
}

.field-name-taxonomy-forums {
  padding-bottom: 9px;
}

.jumbotron {
  margin-right: 18px;
  height: 27px;
  background-color: #ffffff;
  padding: 27px 0px 54px 0px;
}

.jumbotron h2 {
  font-size: 45px;
}

.pacadd {
  padding-top: 18px;
}

.leftnavname a,
.leftnavname a.link,
.leftnavname a.visited,
.leftnavname a.active {
  color: #5f5f5f;
  text-decoration: none;
}

.leftnavlogo {
  padding-bottom: 18px;
}

.leftnavblurb {
  padding-right: 9px;
}

.chimptime {
  text-align: left;
}

#mc_embed_signup {
  width: 200px;
}

.leftnav {
  margin: 9px 0px 18px 9px;
  padding: 9px;
  border-style: dotted;
  border-width: 0px;
  border-right-width: 5px;
  border-radius: 5px;
  border-right-color: #afafaf;
  background-color: #ffffff;
}

.well {
  border-width: 0px;
  background-color: #ffffff;
  box-shadow: inset 0 0px 0px;
}
